@charset "UTF-8";
@import "color";
@import "mapa";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 500px) {
      &{
        display: none;
      }
    }
        
    }

  &::-webkit-scrollbar-thumb {
    background: rgb(240, 137, 103);
    background: linear-gradient(0deg, rgba(240, 137, 103, 1) 0%, rgba(247, 205, 107, 1) 50%, rgba(221, 228, 110, 1) 100%);
    border-radius: 8px;
  }
}

a{
    text-decoration: none;
}

p, h1, h2, h3, h4, h5{
    margin: 0;
}

img{
    object-fit: cover;
}

body{
    // usar una imagen de fondo la cuál usará toda la pantalla y no se repetirá
    //background-image: url("../img/bk_4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
html{
    width: 100%;
    height:100%; /*Siempre es necesario cuando trabajamos con alturas*/
    }
ul,li{
    list-style: none;
}

.inicio{
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 0; // required as well.
    width: 98%;
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    .titulo{
        h1{
            color: $blanco;
        }
    }
    .nav{
        .nav_ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            li{
                margin-top: 12px;
            }
            a{
                cursor: pointer;
            }
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        height: 3rem;
        border-radius: 12px;
        a{
            color: $blanco;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0.5rem;
            transition: .2s all;
            text-align: center;
            margin: 8px 5px;
            &:hover{
                color: $rojo;
            }
        }
    }
}

.media-scroller {
    display: grid;
    grid-auto-flow: column;
    margin: 5px auto;
    width: 98%;
  
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  
  .media-element {
    display: grid;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    padding: 8px;
    text-align: center;
    width: 100%;
    .media{
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0 8px;
        transition: .2s all;
        cursor: pointer;
        &:hover{
            background-color: rgba(0, 0, 0, 0.8);
        }
        &:active{
            background-color: rgba(93, 236, 64, 0.5);
        }
        p{
            color: $blanco;
        }
        img{
            inline-size: 100%;
            aspect-ratio: 16 / 9;
            -o-object-fit: cover;
                object-fit: cover;
            border-radius: 12px;
        }
    }
  }

  .snaps-inline {
    -ms-scroll-snap-type: inline mandatory;
        scroll-snap-type: inline mandatory;
    *{
        scroll-snap-align: start;
    }
  }

  .caja{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 12px;
    border-radius: 12px;
    grid-template-areas: "img contenido contenido"
    "boton boton boton";
    .imagen{
        grid-area: img;
        img{
            margin: 0;
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 12px;
        }
    }
    .contenido{
        grid-area: contenido;
        h3{
            text-align: justify;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            overflow: hidden;
        }
        p{
            font-size: 1em;
            text-align: justify;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            overflow: hidden;
        }
    }
    .boton{
        grid-area: boton;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            background:    #d9d2e9;
            background:    linear-gradient(#d9d2e9, #073763);
            border-radius: 11px;
            padding:       20px 45px;
            color:         #ffffff;
            display:       inline-block;
            font:          normal bold 26px/1 "Open Sans", sans-serif;
            text-align:    center;
            transition: .2s all;
        }
    }
}

.btn_ver_mas{
    margin: 5px;
    grid-column: 1 / 2;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s all;
    a{
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 11px;
        padding:       20px 45px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal bold 26px/1 "Open Sans", sans-serif;
        text-align:    center;
        transition: .2s all;
    }
    a:hover{
        background-color: $completado;
    }
    @media screen and (min-width:800px) {
        &{
            grid-column: 1 / 3;
        }
    }
}

.grid_2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 12px 8px;
    @media screen and (min-width: 800px) {
        &{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .two_x_one{
        //@warn: rgba(0, 0, 0, 0.5);
        margin: 5px;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all;
    }
    .two_x_two{
        //background-color: rgba(0, 0, 0, 0.5);
        margin: 5px;
        grid-column: 1 / 3;
        grid-row: 2 / 4;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all;
    }
    @media screen and (min-width:1200px) {
        .two_x_one{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        .two_x_two{
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
}

.grid_3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 12px 8px;
    @media screen and (min-width: 800px) {
        &{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width:1200px) {
        &{
            grid-template-columns: repeat(3, 1fr);
        }    
    }

    p{
        color: $blanco;
        font-weight: bold;
        font-size: .5em;
        text-align: center;
        display: block;
        text-shadow: black 0.1em 0.1em 0.2em;
        @media screen and (min-width: 240px){
            &{
                font-size: 1em;
            }
        }
        @media screen and (min-width: 460px){
            &{
                font-size: 1.5em;
            }
        }
        @media screen and (min-width: 768px){
            &{
                font-size: 2em;
            }
        }
    }
    .two_x_two{
        background-color: $azul;
        padding: 12px;
        width: 100%;
        margin: 5px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all;
        cursor: pointer;
        &:hover{
            background-color: $rojo;
        }
        &:active{
            background-color: $morado;
        }
    }
    .one_x_tree{
        background-color: $verde;
        padding: 12px;
        width: 100%;
        margin: 5px;
        grid-column: 3 / 3;
        grid-row: 1 / 2;
        border-radius: 12px;   
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all;
        cursor: pointer;
        &:hover{
            background-color: $secundario;
        }
        &:active{
            background-color: $dark-color-alt;
        }
    }
    .tree_x_tree{
        background-color: $rosa;
        padding: 12px;
        width: 100%;
        grid-column: 3 / 3;
        grid-row: 2 / 2;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s all;
        cursor: pointer;
        &:hover{
            background-color: $naranja;
        }
        &:active{
            background-color: $información;
        }
    }
    .publicaciones{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: 12px;
        width: 100%;
        border-radius: 12px;
        min-width: 120px;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

        .contenido{
            padding: 12px;
            p{
                font-size: 1em;
                text-align: justify;
            }
            h1{
                font-size: 1.5em;
                font-weight: bold;
                text-align: center;
            }
            h2{
                font-size: 1.3em;
                font-weight: bold;
                text-align: center;
            }
            h3{
                font-size: 1.2em;
                font-weight: bold;
                text-align: center;
            }
        }
        
        .principal{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto);
            margin: 12px 8px;
            grid-template-areas: "img presentacion presentacion";
            p{
                font-size: 1em;
            }
            .img{
                grid-area: img;
                img{
                    width: 80px;
                    height: 100px;
                    border-radius: 12px;
                }
            }
            .presentacion{
                grid-area: presentacion;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .post{
        grid-column: 1 / 3;
        grid-row: 2 / 2;
        padding: 12px;
        width: 100%;
        border-radius: 12px;
        background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        .tarjetas{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(100px, auto);
            margin: 12px 8px;
            grid-template-areas: "img"
                                "contenido";
            background-color: rgba(0, 0, 0, 0.5);
            width: auto;
            height: auto;
            border-radius: 12px;
            .contenido{
                margin: 5px;
                grid-area: contenido;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                transition: .2s all;
                width: 100%;
                padding : 12px;
                p{
                    font-size: 1em;
                    text-align: justify;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    overflow: hidden;
                }
                h1, h2, h3{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    overflow: hidden;
                }
                a{
                    color: $naranja;
                }
            }
            .img{
                img{
                    width: 100%;
                    height: 160px;
                    border-radius: 12px;
                }
                grid-area: img;
            }
            @media screen and (min-width: 800px) {
                &{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas: "img contenido";
                    width: 260px;
                }   
            }
            @media screen and (min-width: 1200px) {
                &{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "img contenido contenido";
                    width: 400px;
                }   
            }
        }
        .btn_ver_mas{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                background:    #15d798;
                background:    linear-gradient(#15d798, #9fc5e8);
                border-radius: 11px;
                padding:       15px 25px;
                color:         #ffffff;
                display:       inline-block;
                font:          normal bold 26px/1 "Open Sans", sans-serif;
                text-align:    center;
            }
        }
    }
    @media screen and (min-width: 800px) {
        .publicaciones{
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        .post{
            grid-column: 3 / 3;
            grid-row: 1 / 2;
        }
    }

}

#menu_principal{
    background-color: rgba(0, 0, 0, 0.8);
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom: 0;
    height: 50px;
    padding: 12px;
    position: fixed;
    width: 100%;
    z-index: 1;
    .lista_menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: -12px;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 1em;
                    color: #FFF;
                    text-decoration: none;
                    transition: .2s all;
                    &:hover{
                        color: $completado;
                    }
                    p{
                        display: none;
                        @media screen and (min-width: 800px){
                            display: block;
                        }
                    }
                }
            }
    }
}

.tarjeta_perfil{
    width: 80%;
    margin: 0 auto;
    .tarjeta_perfil_foto{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto;
        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-bottom: -180px;
        }
    }
    .tarjeta_perfil_datos{
        background-color: $blanco;
        padding: 0 12px;
        padding-top: 50px;
        padding-bottom: 12px;
        border-radius: 12px;
    }
}

.contenedor{
    width: 90%;
    margin: 8px auto;
    color: $blanco;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 12px;
    text-align: center;
}

.contenedor_sin_fondo{
    width: 90%;
    margin: 8px auto;
}

table, th, td{
    background: $color-esqueleto;
    border-radius: 12px;
    font-size: 1em;
    padding: 8px;
    margin: 0 auto;
    border: 3px solid $negro;
    
}

div#div_file{
    position: relative;
    margin: 12px auto;
    padding: 10px;
    width: 150px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
  }

  input#imagen{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  
  }

  input#btn_enviar {
    padding: 15px;
    background-color: #60cf4e;
    color: #fff;
    border: 0;
    font-size: 1em;
    border-radius: 12px;
    cursor: pointer;
  }

.espaciador{
    height: 50px;
}

#popup,#popupdos,#horario,#perfil,#settings{
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    .popup_contenido{
        position: relative;
        top: 50%;
        width: 90%;
        height: auto;
        border-radius: 15px;
        background: #fff;
        margin: auto;
        margin-top: -280px;
        transition: .2s all;
        .popup_titulo{
            background-color: $rojo;
            color: $blanco;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            padding: 12px;
            text-align: center;
        }
        .popup_contenido_texto{
            background-color: $blanco;
            padding: 12px;
            text-align: justify;
        }
        .popup_boton{
            padding: 12px;
            text-align: center;
            a{
                background:    #15d798;
                border-radius: 11px;
                padding:       20px 45px;
                color:         #ffffff;
                display:       inline-block;
                font:          normal bold 1.2em/1 "Open Sans", sans-serif;
                text-align:    center;
                cursor: pointer;
            }
            button{
                background:    #15d798;
                border-radius: 11px;
                padding:       20px 45px;
                color:         #ffffff;
                display:       inline-block;
                font:          normal bold 1.2em/1 "Open Sans", sans-serif;
                text-align:    center;
                border: none;
            }
        }
    }
}

form{
    padding: 12px;
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    label,input,textarea{
        display: block;
        margin: 6px auto;
        text-align: center;
    }
    input{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        border: none;
        padding: 8px;
        color: $blanco;
        &:focus{
            outline: none;
        }
    }
    textarea{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        border: none;
        padding: 8px;
        color: $blanco;
        text-align: justify;
        &:focus{
            outline: none;
        }
    }
    button{
        background-color: $rojo;
        border-radius: 12px;
        border: none;
        padding: 8px;
        color: $blanco;
        cursor: pointer;
        &:focus{
            outline: none;
        }
    }
}

.pdf {
    border-radius: 12px;
    display: block;
    margin: 8px auto;
    width: 96%;
    @media screen and (min-width: 600px) {
        &{
            min-width: 300px;
            min-height: 350px;
        }
    }
}

.center_text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tiendas{
    background-color: $blanco;
    border-radius: 12px;
    padding: 12px;
    margin: 12px auto;
    .tiendas_oficiales{
        h1{
            text-align: center;
        }
    }
}

.card_tienda{
    background-color: $blanco;
    border-radius: 12px;
    padding: 12px;
    margin: 12px auto;
    width: 210px;
    height: auto;
    border: 1px $negro solid;
    box-shadow: -4px 0px 18px 0px rgba(0,0,0,0.43);
    -webkit-box-shadow: -4px 0px 18px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: -4px 0px 18px 0px rgba(0,0,0,0.43);
    .card_tienda_titulo{
        h1{
            text-align: center;
        }
    }
    .img_tienda{
        img{
            width: 180px;
            height: 120px;
            border: 1px $negro solid;
            border-radius: 12px;
        }
    }
}
