@charset "UTF-8";
@import "color";
@import "mapa";
@import "basic";

.btn-link{
    color: $blanco;
    &:hover{
        color: $blanco;
        text-decoration: none;
    }
}

.tarjeta_contenido{
    min-width: 150px;
    width: 100%;
    margin-top: 12px;
    background-color: $blanco;
    border-radius: 12px;
    padding: 8px;
    border: 1px solid #000;
}

.checkout{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-template-areas: "col_select""col_datos";
    padding: 8px;
    @media screen and (min-width: 600px) {
        &{
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "col_select col_datos";
        }
    }
    @media screen and (min-width: 820px) {
        &{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "col_select col_datos col_datos";
        }
    }
    .col-select{
        grid-area: col_select;
        padding: 8px;
        width: 100%;
        border-radius: 12px;
    }
    .col-datos{
        grid-area: col_datos;
        background-color: $color-esqueleto;
        width: 100%;
        border-radius: 12px;
        padding: 8px;
    }
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    div>input{
        border: none;
        border-radius: 12px;
        border-bottom: 1.5px #000 solid;
        padding: 6px;
        background-color: rgba(0, 0, 0, 0.2);
        color: var(--bs-white);
        transition: .2s all;
        &:focus{
            outline: none;
            background-color: #dfe;
            border: 0;
            border-bottom: 2px #000 solid;
            color: var(--bs-black);
        }
    }
}

#renovar, #agregar, #esconder{
    display: none;
}