* {
  transition: 0.2s all !important;
}

body {
  background-color: #eff3f5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
}

button {
  border: none;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.contenedor {
  display: block;
  margin: 8px auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
@media screen and (min-width: 210px) {
  .contenedor {
    width: 98%;
  }
}
@media screen and (min-width: 620px) {
  .contenedor {
    width: 96%;
  }
}
@media screen and (min-width: 800px) {
  .contenedor {
    width: 92%;
  }
}
@media screen and (min-width: 1020px) {
  .contenedor {
    width: 90%;
  }
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.capsula {
  min-width: 150px;
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_start {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.text-shadow-white {
  text-shadow: white 0.1em 0.1em 0.2em;
}

.text-shadow-black {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.grid_1_auto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
}

.grid_1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
}

.grid_2_auto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
}
@media screen and (min-width: 600px) {
  .grid_2_auto {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
}

.grid_3_auto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
}
@media screen and (min-width: 600px) {
  .grid_3_auto {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .grid_3_auto {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
}

.grid_4_auto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
}
@media screen and (min-width: 600px) {
  .grid_4_auto {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .grid_4_auto {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1020px) {
  .grid_4_auto {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
}

.navbar_dashboard {
  background-color: rgba(232, 9, 240, 0.671);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.navbar_dashboard .navbar-brand {
  color: #fff;
}
.navbar_dashboard .navbar-toggler-custom {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
  font-size: 1em;
  border-radius: 12px;
}
.navbar_dashboard .navbar-toggler-custom:hover {
  background-color: #fff;
}
.navbar_dashboard .navbar-collapse {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  margin-top: 12px;
  border-radius: 12px;
}
@media screen and (min-width: 576px) {
  .navbar_dashboard .navbar-collapse {
    padding: 0;
    margin-top: -8px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar_dashboard .mt-2 {
    margin-top: 0rem !important;
  }
  .navbar_dashboard .navbar-toggler-custom {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .navbar_dashboard .navbar-collapse {
    margin-top: 0;
  }
}
.navbar_dashboard .nav-link.active {
  color: #fff;
  background-color: #198754;
}
.navbar_dashboard .nav-link {
  color: #fff;
  padding: 5px;
  border-radius: 12px;
}
.navbar_dashboard .nav-item {
  margin-top: 2px;
  margin-right: 2px;
  border-radius: 12px;
}
.navbar_dashboard .nav-item:hover {
  color: #fff;
  background-color: #198754;
}
.navbar_dashboard .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  color: #fff;
}

.bienvenida {
  background-color: #003d8f;
  color: #fff;
  margin-bottom: 21px;
}

.anuncio_azul {
  padding: 5px;
  margin: 0 auto;
  border-radius: 12px;
  color: #fff;
  background-color: #3c9ddb;
  background-color: linear-gradient(0deg, #3c9ddb 0, #11c7e6);
}

.contenedor_top {
  display: block;
  margin: 0px auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
@media screen and (min-width: 620px) {
  .contenedor_top {
    width: 94%;
  }
}
@media screen and (min-width: 800px) {
  .contenedor_top {
    margin-top: -42px;
    width: 90%;
  }
}
@media screen and (min-width: 1020px) {
  .contenedor_top {
    width: 88%;
  }
}

.block-7 {
  padding: 30px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  background: #eff3f5;
  border-radius: 12px;
}
.block-7 .heading {
  font-size: 18px;
}
.block-7 .price {
  margin: 0;
  padding: 0;
  display: block;
}
.block-7 .price sup {
  font-size: 20px;
  top: -1em;
  color: #000;
}
.block-7 .price .number {
  font-size: 50px;
  font-weight: 500;
  background: #12e6ca;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #12e6ca), color-stop(100%, #8be55d));
  background: linear-gradient(45deg, #12e6ca 0%, #8be55d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#12e6ca", endColorstr="#8be55d", GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block-7 .excerpt {
  margin-bottom: 20px;
  color: #b3b3b3;
}
.block-7 .pricing-text, .block-7 .pricing-text li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.block-7 .pricing-text, .block-7 .pricing-text p {
  color: #666666;
}
@media (max-width: 991.98px) {
  .block-7 {
    margin-bottom: 30px;
  }
}

.heading-section .subheading {
  font-size: 14px;
  font-size: 500;
  display: block;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.heading-section h2 {
  font-size: 30px;
  font-weight: 400;
  color: #627bed;
}

.btn-link {
  color: #fff;
}
.btn-link:hover {
  color: #fff;
  text-decoration: none;
}

.btn_transparente {
  margin: 12px auto;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 1px #fff;
}
.btn_transparente:hover {
  background-color: #e35473;
  color: #fff;
  border: 2px #fff;
}

.tarjeta_contenido {
  min-width: 150px;
  width: 100%;
  margin-top: 12px;
  background-color: #fff;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #000;
}

.checkout {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, auto);
  grid-template-areas: "col_select" "col_datos";
  padding: 8px;
}
@media screen and (min-width: 600px) {
  .checkout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "col_select col_datos";
  }
}
@media screen and (min-width: 820px) {
  .checkout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col_select col_datos col_datos";
  }
}
.checkout .col-select {
  grid-area: col_select;
  padding: 8px;
  width: 100%;
  border-radius: 12px;
}
.checkout .col-datos {
  grid-area: col_datos;
  background-color: #eff3f5;
  width: 100%;
  border-radius: 12px;
  padding: 8px;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}
.forms div > input {
  border: none;
  border-radius: 12px;
  border-bottom: 1.5px #000 solid;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--bs-white);
  transition: 0.2s all;
}
.forms div > input:focus {
  outline: none;
  background-color: #dfe;
  border: 0;
  border-bottom: 2px #000 solid;
  color: var(--bs-black);
}

#renovar, #agregar, #esconder {
  display: none;
}

.app_josstinger {
  min-width: 100%;
  min-height: 12px;
  height: auto;
  background-image: url("../img/josstinger%20degradado/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.app_josstinger .app_josstinger_info {
  margin: 12px 8px;
  text-align: justify;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 12px;
}
.app_josstinger .app_josstinger_info h2, .app_josstinger .app_josstinger_info h3 {
  text-align: center;
}
.app_josstinger .app_josstinger_info .app_josstinger_appgallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(50px, auto);
  padding: 8px;
  grid-template-areas: "img" "text";
}
@media screen and (min-width: 600px) {
  .app_josstinger .app_josstinger_info .app_josstinger_appgallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img text";
  }
}
@media screen and (min-width: 800px) {
  .app_josstinger .app_josstinger_info .app_josstinger_appgallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img text text";
  }
}
.app_josstinger .app_josstinger_info .app_josstinger_appgallery .img_appgallery {
  grid-area: img;
}
.app_josstinger .app_josstinger_info .app_josstinger_appgallery .img_appgallery img {
  min-width: 30px;
  min-height: 30px;
  width: 100px;
  height: 100px;
}
.app_josstinger .app_josstinger_info .app_josstinger_appgallery .text_appgallery {
  grid-area: text;
}
.app_josstinger .app_josstinger_info .app_josstinger_appgallery .text_appgallery p {
  text-align: justify;
}
.app_josstinger .app_josstinger_info .app_josstinger_youtube {
  margin: 12px 8px;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.app_josstinger .app_josstinger_info .app_josstinger_youtube .app_josstinger_youtube_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  background-color: #282b3a;
  margin: 0;
}
.footer .footer_section {
  margin: 12px 8px;
  padding: 6px;
}
.footer .footer_section img {
  width: 150px;
  height: 150px;
  border-radius: 18px;
  margin: 0 auto;
}
.footer .footer_section a, .footer .footer_section p, .footer .footer_section h1, .footer .footer_section h2, .footer .footer_section h3 {
  text-align: center;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-decoration: none;
}
.footer .footer_section ul > li {
  list-style: none;
  text-decoration: none;
  font-size: 1.2em;
  margin: 8px 6px;
  padding: 6px;
}/*# sourceMappingURL=dashboard.css.map */