@charset "UTF-8";
@import "color";
@import "mapa";
@import "basic";

.btn-link{
    color: $blanco;
    &:hover{
        color: $blanco;
        text-decoration: none;
    }
}

.btn_transparente{
    margin: 12px auto;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: $blanco;
    border: 1px #fff;
    &:hover{
        background-color: #e35473;
        color: $blanco;
        border: 2px #fff;
    }
}

.tarjeta_contenido{
    min-width: 150px;
    width: 100%;
    margin-top: 12px;
    background-color: $blanco;
    border-radius: 12px;
    padding: 8px;
    border: 1px solid #000;
}

.checkout{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-template-areas: "col_select""col_datos";
    padding: 8px;
    @media screen and (min-width: 600px) {
        &{
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "col_select col_datos";
        }
    }
    @media screen and (min-width: 820px) {
        &{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "col_select col_datos col_datos";
        }
    }
    .col-select{
        grid-area: col_select;
        padding: 8px;
        width: 100%;
        border-radius: 12px;
    }
    .col-datos{
        grid-area: col_datos;
        background-color: $color-esqueleto;
        width: 100%;
        border-radius: 12px;
        padding: 8px;
    }
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    div>input{
        border: none;
        border-radius: 12px;
        border-bottom: 1.5px #000 solid;
        padding: 6px;
        background-color: rgba(0, 0, 0, 0.2);
        color: var(--bs-white);
        transition: .2s all;
        &:focus{
            outline: none;
            background-color: #dfe;
            border: 0;
            border-bottom: 2px #000 solid;
            color: var(--bs-black);
        }
    }
}

#renovar, #agregar, #esconder{
    display: none;
}

.grid_opciones{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(50px, auto);
    padding: 8px;
    grid-template-areas: "principal""secundario""terciario";
    .principal{
        min-height: 160px;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #e35473;
        border-radius: 12px;
        margin-right: 12px;
        grid-area: principal;
        font-size: 1.2em;
        color: $blanco;
        text-decoration: none;
    }
    .secundario{
        min-height: 80px;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: $primario;
        border-radius: 12px;
        margin-left: 12px;
        margin-bottom: 6px;
        grid-area: secundario;
        font-size: 1.2em;
        color: $blanco;
        text-decoration: none;
    }
    .terciario{
        min-height: 80px;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: $morado;
        border-radius: 12px;
        margin-left: 12px;
        margin-top: 6px;
        grid-area: terciario;
        font-size: 1.2em;
        color: $blanco;
        text-decoration: none;
    }
    .principal:hover,.secundario:hover, .terciario:hover{
        border-radius: 21px;
        border: 12px rgba(0, 0, 0, 0.5) solid;
        text-shadow: black 0.1em 0.1em 0.2em;
    }
    @media screen and (min-width:170px) {
        &{
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "principal secundario""principal terciario";
        }
    }
}

.app_josstinger{
    min-width: 100%;
    min-height: 12px;
    height: auto;
    background-image: url("../img/logo_hestia/vector/default.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .app_josstinger_info{
        margin: 12px 8px;
        text-align: justify;
        text-shadow: black 0.1em 0.1em 0.2em;
        color: $blanco;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 12px;
        h2,h3{
            text-align: center;
        }
        .app_josstinger_appgallery{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: minmax(50px, auto);
            padding: 8px;
            grid-template-areas: "img""text";
            @media screen and (min-width: 600px) {
                &{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas: "img text";
                }
            }
            @media screen and (min-width: 800px) {
                &{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "img text text";
                }
            }
            .img_appgallery{
                grid-area: img;
                img{
                    min-width: 30px;
                    min-height: 30px;
                    width: 100px;
                    height: 100px;
                }
            }
            .text_appgallery{
                grid-area: text;
                p{
                    text-align: justify;
                }
            }
        }
        .app_josstinger_youtube{
            margin: 12px 8px;
            position: relative;
            overflow: hidden;
            padding-top: 56.25%;
            .app_josstinger_youtube_video{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }
}
.footer{
    background-color: $dark-color-alt;
    margin: 0;
    .footer_section{
        margin: 12px 8px;
        padding: 6px;
        img{
            width: 150px;
            height: 150px;
            border-radius: 18px;
            margin: 0 auto;
        }
        a,p,h1,h2,h3{
            text-align: center;
            color: $blanco;
            text-shadow: black 0.1em 0.1em 0.2em;
            text-decoration: none;
        }
        ul>li{
            list-style: none;
            text-decoration: none;
            font-size: 1.2em;
            margin: 8px 6px;
            padding: 6px;
        }

    }
}