@charset "UTF-8";
@import "efectos";
@import "color";
@import "mapa";
@import "basic";

.img_pequeña{
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.tarjeta-blanca{
    min-width: 120px;
    width: 92%;
    height: auto;
    padding: 10px;
    margin: 5px auto;
    border-radius: 12px;
    background-color: $blanco;
    h2{
        font-family: "Dancing";
        text-align: center;
    }
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }
}

.titulo_card{
    font-family: "Dancing", sans-serif;
    font-weight: bold;
}

.titulo_encima{
    font-family: "Indie", Times, serif;
}

.img_mediana{
    min-width: 150px;
    width: 280px;
    min-height: 150px;
    height: 90%;
    border-radius: 12px;
}
.contacto_form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-template-areas: "text""form";
    padding: 8px;
    .contacto_form_text{
        grid-area: text;
        padding: 10px;
        margin: 12px 8px;
        min-width: 150px;
        min-height: 150px;
        width: 100%;
        height: 100%;
        h2{
            font-family: "Dancing", sans-serif;
            font-weight: bold;
            text-align: center;
        }
        ul>li,ul>li>a{
            list-style: none;
            text-align: justify;
            text-decoration: none;
            color: $blanco;
            text-shadow: black 0.1em 0.1em 0.2em;
        }
    }
    
    .contacto_form_form{
        grid-area: form;
        padding: 10px;
        margin: 12px 8px;
        min-width: 150px;
        min-height: 150px;
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width:500px) {
        &{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: minmax(50px, auto);
            grid-template-areas: "text form";
        }
    }
    @media screen and (min-width:850px) {
        &{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: minmax(50px, auto);
            grid-template-areas: "text form form";
        }
    }
}

.links_circulos{

    min-width: 20px;
    min-height: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blanco;
    text-shadow: black 0.1em 0.1em 0.2em;
    i{
        font-size: 1.4em;
    }

}

.footer{
    background-color: $dark-color-alt;
    margin: 0;
    .footer_section{
        margin: 12px 8px;
        padding: 6px;
        img{
            width: 150px;
            height: 150px;
            border-radius: 18px;
            margin: 0 auto;
        }
        a,p,h1,h2,h3{
            text-align: center;
            color: $blanco;
            text-shadow: black 0.1em 0.1em 0.2em;
            text-decoration: none;
        }
        ul>li{
            list-style: none;
            text-decoration: none;
            font-size: 1.2em;
            margin: 8px 6px;
            padding: 6px;
        }

    }
}

.card_icono{
    min-width: 120px;
    width: 92%;
    height: auto;
    padding: 10px;
    margin: 5px auto;
    border-radius: 12px;
    background-color: $blanco;
    .icono{
        min-width: 20px;
        min-height: 20px;
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50%;
        background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        margin: 5px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $blanco;
        text-shadow: black 0.1em 0.1em 0.2em;
        i{
            font-size: 1.5em;
        }
    }
    .contenido_card{
        min-width: 20px;
        min-height: 20px;
        width: 98%;
        height: auto;
        text-align: center;
    }
}

.home{
    width: 100%;
    height: 500px;
    position: relative;
    display: inline-block;
    text-align: center;
    .encima{
        margin-top: -460px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $blanco;
        .contenido{
            margin: 12px 8px;
            padding: 10px;
        }
    }
    img.filtro{
        width: 100%;
        height: 500px;
        filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
        -webkit-filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
        -moz-filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
    }
    @media screen and (min-width: 600px) {
        &{
            height: 380px;
        }
        img.filtro{
            height: 380px;
        }
        .encima{
            margin-top: -300px;
        }
    }
    @media screen and (min-width: 800px) {
        &{
            height: 400px;
        }
        img.filtro{
            height: 400px;
        }
        .encima{
            margin-top: -300px;
        }
    }
}

.secction{
    width: 100%;
    height: 300px;
    position: relative;
    display: inline-block;
    text-align: center;
    .encima{
        margin-top: -260px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $blanco;
        .contenido{
            margin: 12px 8px;
            padding: 10px;
            color: $blanco;
            a{
                color: $blanco;
            }
        }
    }
    img.filtro{
        width: 100%;
        height: 300px;
        filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
        -webkit-filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
        -moz-filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
    }
    @media screen and (min-width: 600px) {
        &{
            height: 380px;
        }
        img.filtro{
            height: 380px;
        }
        .encima{
            margin-top: -300px;
        }
    }
    @media screen and (min-width: 800px) {
        &{
            height: 400px;
        }
        img.filtro{
            height: 400px;
        }
        .encima{
            margin-top: -300px;
        }
    }
}

.info{
    width: 100%;
    height: 400px;
    position: relative;
    display: inline-block;
    text-align: center;
    .encima{
        margin-top: -360px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $blanco;
        .contenido{
            margin: 12px 8px;
            padding: 10px;
            color: $blanco;
            a{
                color: $blanco;
            }
        }
    }
    img.filtro{
        width: 100%;
        height: 400px;
        filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
        -webkit-filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
        -moz-filter: grayscale(15%) sepia(20%) blur(1px) brightness(87%) saturate(102%) contrast(127%) invert(19%);
    }
    @media screen and (min-width: 600px) {
        &{
            height: 380px;
        }
        img.filtro{
            height: 380px;
        }
        .encima{
            margin-top: -300px;
        }
    }
    @media screen and (min-width: 800px) {
        &{
            height: 400px;
        }
        img.filtro{
            height: 400px;
        }
        .encima{
            margin-top: -300px;
        }
    }
}